{
  "linters": {
    "server/**/*.ts": ["npm run tslint:server -- --fix", "prettier --write", "git add"],
    "static/**/*.{ts,tsx}": ["npm run tslint:static -- --fix", "prettier --write", "git add"],
    "*.{js,jsx}": ["eslint --fix", "prettier --write", "git add"],
    "*.{json,css,less,yml,yaml,md}": ["prettier --write", "git add"]
  },
  "ignore": []
}
